<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/cabecera.html :: cabecera('Nuevo Dueño')">
    </head>
    <body>
        <main>
            <div class="container">
                <nav th:replace="fragments/navbar.html :: navbar('dueños')">
                </nav>
                <h1 class="col-md-6 offset-md-3 border-bottom">Nuevo Contacto</h1>
                <div class="col-md-6 offset-md-3">
                    <form method="post" th:action="@{'/duenos/save'}" class="mt-2">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo:</label>
                            <input type="email" class="form-control" name="correo" id="correo">
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <input type="text" class="form-control" name="direccion" id="direccion">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="text" class="form-control" name="telefono" id="telefono">
                        </div>
                        <a th:href="@{'/duenos'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>