<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/cabecera :: cabecera('Lista de Mascotas en Televet')"></head>
    <body>

        <div class="container">
            <div th:replace="fragments/navbar :: navbar('mascotas')"></div>
            <div class="row">
                <div class="col-10">
                    <h1>Detalle de servicios</h1>
                </div>
                <div class="col-2">
                    <a type="button" class="btn btn-primary" th:href="@{/mascotas}">Regresar</a>
                </div>
            </div>
            <br>
            <h4 th:text="'Nombre de la Mascota: '+${listaServicios.get(0).getMascota().nombre}"></h4>
            <h4 th:text="'Edad: '+${edad}"></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Servicio</th>
                        <th>Hora de inicio</th>
                        <th>Duracion</th>
                        <th>Entrega</th>
                        <th>Responsable</th>
                        <th>Opciones de servicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="servicio, info : ${listaServicios}">
                        <td th:text="${servicio.id}"></td>
                        <td th:text="${servicio.horaInicio}"></td>
                        <td th:text="${servicio.duracion}"></td>
                        <td th:text="${servicio.entrega}"></td>
                        <td th:text="${servicio.responsable.nombre}"></td>
                        <td>
                            <ul>
                                <li th:each="opcion : ${servicio.opciones}" th:text="${opcion.descripcion}"></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>