<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/cabecera :: cabecera('Lista de Mascotas en Televet')"></head>
    <body>

        <div class="container">
            <div th:replace="fragments/navbar :: navbar('mascotas')"></div>

            <h1 th:if="${filtro == ''}">Lista de Mascotas en Televet</h1>
            <h1 th:if="${filtro != ''}" th:text="'Buscando '+${busqueda}+' por '+${filtro}"></h1>

            <a class="btn btn-primary mt-4 mb-4" th:href="@{/mascotas/crear}">Nueva Mascota</a>  <!-- COMPLETAR -->

            <!--
            <div class="alert alert-success" th:text="${msg}" th:if="${msg != null}"></div>
            <div class="alert alert-danger" th:text="${err}" th:if="${err != null}"></div>
            -->

            <form method="post" th:action="@{/mascotas/buscar}">
                <div class="input-group">
                    <select name="filtro">
                        <option value="">Todos</option>
                        <option value="sexo">Sexo</option>
                        <option value="raza">Raza</option>
                        <option value="contacto">Contacto</option>
                    </select>
                    <input name="busqueda" th:value="${busqueda == null ? null : busqueda}" class="form-control" type="text" placeholder="Buscar"/>
                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Sexo</th>
                        <th>Raza</th>
                        <th>Servicios</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mascota, info : ${listaMascotas}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${mascota.nombre}"></td>
                        <td th:text="${mascota.anho}"></td>
                        <td th:text="${mascota.sexo}"></td>
                        <td th:text="${mascota.getRaza().getId() == 20 ? mascota.otros : mascota.raza.descripcion}"></td>
                        <td></td>

                        <td><a class="btn btn-primary" th:href="@{'/mascota/info?id=' + ${mascota.id}}">
                            Detalle de Servicios</a></td>
                        <td><a class="btn btn-warning" th:href="@{'/mascota/editar?id=' + ${mascota.id}}">
                            Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/mascota/borrar?id=' + ${mascota.id}}">
                            Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>