<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/cabecera :: cabecera('Lista de Mascotas en Televet')"></head>
    <body>

        <div class="container">
            <div th:replace="fragments/navbar :: navbar('mascotas')"></div>

            <h1 >Lista de Mascotas en Televet</h1>
            <h1 ></h1>

            <a class="btn btn-primary mt-4 mb-4" th:href="@{/mascotas/new}">Nueva Mascota</a>  <!-- COMPLETAR -->

            <!--
            <div class="alert alert-success" th:text="${msg}" th:if="${msg != null}"></div>
            <div class="alert alert-danger" th:text="${err}" th:if="${err != null}"></div>
            -->

            <form th:action="@{/mascotas}">
                <div class="input-group">
                    <select class="form-select w-25" name="filtro">
                        <option value="">Todos</option>
                        <option value="sexo" th:selected="${#httpServletRequest.getParameter('filtro') == 'sexo'}">Sexo</option>
                        <option value="raza" th:selected="${#httpServletRequest.getParameter('filtro') == 'raza'}">Raza</option>
                        <option value="contacto" th:selected="${#httpServletRequest.getParameter('filtro') == 'contacto'}">Contacto</option>
                    </select>
                    <input name="search" th:value="${param.search}" class="form-control" type="text" placeholder="Buscar"/>
                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Sexo</th>
                        <th>Raza</th>
                        <th>Servicios</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mascota, info : ${listaMascotas}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${mascota.getNombre()}"></td>
                        <td th:text="${mascota.getAnho()}"></td>
                        <td th:text="${mascota.getSexo()}"></td>
                        <td th:text="${mascota.getIdraza() == 20 ? mascota.getRazaotros() : mascota.getRaza()}"></td>
                        <td th:text="${mascota.getCantidadservicios()}"></td>

                        <td><a class="btn btn-primary" th:href="@{'/mascota/info?id=' + ${mascota.getIdmascota()}}">
                            Detalle de Servicios</a></td>
                        <td><a class="btn btn-warning" th:href="@{'/mascota/edit?id=' + ${mascota.getIdmascota}}">
                            Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/mascota/delete?id=' + ${mascota.getIdmascota}}">
                            Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>