<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/cabecera.html :: cabecera('Televet')">
</head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar('mascotas')">
    </nav>
    <div class="col col-6">
        <h1 class="pb-2 mb-3 border-bottom">Nuevo servicio</h1>
        <form method="post" th:action="@{/servicios/nueva}" class="mt-2 mb-4" >
            <input hidden th:value="${infoMascota.id}" name="mascota">

            <div class="mb-3">
                <label for="cuenta" class="form-label">Cuenta </label>
                <select class="form-select mb-3" name="cuenta" id="cuenta">
                    <option th:each="dueno : ${listaDuenos}"
                            th:text="${dueno.correo}"
                            th:value="${dueno.id}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="responsable" class="form-label">Responsable </label>
                <select class="form-select mb-3" name="responsable" id="responsable">
                    <option th:each="responsable : ${listaResponsables}"
                            th:text="${responsable.nombre}"
                            th:value="${responsable.idresponsable}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="duracion" class="form-label">Duracion</label>
                <input name="duracion" type="number" class="form-control" id="duracion" >
            </div>
            <div class="mb-3">
                <label for="entrega" class="form-label">Entrega</label>
                <select class="form-select" name="entrega" id="entrega">
                    <option value="Domicilio">Domicilio</option>
                    <option value="Recojo"> Recojo</option>
                </select>
            </div>

            <label for="opciones" class="form-label">Opciones </label>
            <div class="form-check" id="opciones" th:each="opcion : ${listaOpciones}">
                <input class="form-check-input" type="checkbox" th:name="${opcion.id}">
                <label class="form-check-label" th:for="${opcion.id}" th:text="${opcion.descripcion}"></label>
            </div>

            <a th:href="@{'/servicios/lista'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

</body>
</html>