<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/cabecera.html :: cabecera('Televet')">
    </head>
    <body>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom" style="font-weight: 600">Televet</h2>
                <img src="../static/img/mascotas.jpg" class="img-fluid" th:src="@{/img/mascotas.jpg}" alt="Televet">
                <div class="vstack gap-3">
                    <a class="btn btn-primary" th:href="@{/mascotas/lista}">Mascotas</a>
                    <a class="btn btn-primary" th:href="@{/duenos/lista}">Dueños</a>
                    <a class="btn btn-primary" th:href="@{/servicios/lista}">Servicios</a>
                    <a class="btn btn-primary" th:href="@{/responsables/lista}">Responsables</a>
                </div>
            </div>
        </div>

    </body>
</html>